/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
    height: 100%;
    font-family: 'Roboto', Sans-Serif;
    padding: 25px;
}

.splash {
    position: relative;
    background: linear-gradient(to bottom right, blue, lightblue);
    box-shadow: 0 4px 2px -2px gray;
    height:60%;
    padding: 50px;
    margin: -50px;
    color: white;
}

.splash h1 {
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 76px;
}

.splash p {
    font-size: 24px;
}

.splash a {
    height: 50px;
    padding: 7px;
    width: 300px;
    text-align: center;
    bottom: -25px;
    left: calc(50% - 150px);
    position: absolute;
    background-color: blue;
    border-radius: 25px;
    color: white;
    font-size: 24px;
    box-shadow: 0 8px 4px -4px gray;
}

.splash a:hover {
    color:unset;
    text-decoration: none;
}
