@import "custom_boostrap";

.splash {
  position: relative;
  background: linear-gradient(to bottom right, $primary, $light);
  min-height: 50vh;
  padding: 70px 50px 50px 50px;
  color: $light;
  margin-bottom: 50px;
}

.splash h1 {
  margin-bottom: 25px;
  font-size: 76px;
}

.splash p {
  font-size: 24px;
}

.splash__link {
  height: 50px;
  padding: 7px;
  width: 300px;
  text-align: center;
  bottom: -25px;
  left: calc(50% - 150px);
  position: absolute;
  background-color: $primary;
  border-radius: 25px;
  color: $light;
  font-size: 24px;
}

.splash__link:hover {
  color:unset;
  text-decoration: none;
}

.card-img-overlay--shared-container{
  position: relative;
}

.card-img-overlay--shared {
  @extend .card-img-overlay;
  opacity:0;
  background: $secondary;
  font-size: 36px;
}

.card:hover .card-img-overlay--shared {
  opacity: .5;
}

.card-button{
  position: absolute;
  font-size: 24px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.card-button:hover{
  text-decoration: none;
}

.card-button:focus{
  outline: none;
}

.card-button--delete{
  @extend .card-button;
  right:20px;
  top: 20px;
}

.card-button--edit{
  @extend .card-button;
  right:50px;
  top: 20px;
}
