
<div class="splash shadow container-fluid__break">
  <h1>Image Sharer</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <%= link_to 'Get Started', new_image_path, class: 'splash__link shadow-lg' %>
</div>
<div class="d-flex flex-wrap justify-content-around pt-5">
  <% @images.each do |image| %>
    <div class="align-self-center m-4 shadow card">
      <img class="home__image" src="<%= image.url %>" alt="Image">
      <% if image.tag_list.any? %>
        <div class="card-body">
          <% image.tag_list.each do |tag| %>
            <span class="badge badge-pill badge-secondary">
              <%= tag %>
            </span>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
