<h1>Create a New Image</h1>
<h5>Add a new image url here</h5>
<br/>
<%= form_for @image do |f| %>
      <div class="form-group">
        <%= f.label :url, 'Image Url' %>
        <%= f.text_field :url, {required: 'required', type: 'url', class: 'form-control col-md-4'} %>
      </div>

    <%= f.submit 'Create', {class: 'btn btn-primary'} %>
<% end %>
