<h1 class="mt-3">Image Created!</h1>
<p>An image url has been saved. Access here:</p>
<div>
  <label>Url:</label>
  <%= link_to nil, @image.url %>
</div>
<div>
  <label>Tags: </label>
  <% @image.tag_list.each do |tag| %>
    <span class="badge badge-pill badge-secondary">
      <%= tag %>
    </span>
  <% end %>
</div>
